name: Documentation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  UV_FROZEN: "1"

jobs:
  docs:
    name: "GitHub Pages"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.13"
          enable-cache: true
          version: "0.9.14"
      - name: Build documentation
        run: uv run --group doc sphinx-build docs _build -W
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
